@media (min-width: 1400px) and (max-width: 1600px) {
	
	body {padding-top: 84px;}
	
	#tabs,
	#page_header_container .container,
	#page .container {
		width: auto;
        max-width: 100%;
        min-width: 580px;
	}
	
	#page_header {
		border: 0 none;
		border-bottom: 1px solid #DDD;
		background: rgba(34,34,34,.8);
		color: #333333;
		margin: 0;
		padding: 15px 20px 0;
	}	
}

@media (min-width: 1601px) and (max-width: 2000px) {
	
	#tabs,
	#page_header_container .container,
	#page .container {
		width: auto;
		max-width: 80%;
        min-width: 580px;
	}
    
}