
/**** CUSTOM THEME STYLES ****/

/*   This file can be used to add your own customisations (like background, link colours, width dimensions etc.) to the theme.
 *   Putting your customisations here means it will survive future theme upgrades!
 * 
 *   Steps to enable this feature:
 * 
 *   1) RENAME this file to "custom.css"
 *   2) Upload to your theme directory (where the "lib/assets/css/base.css" file is)
 *   3) That's it - add your custom style here.
 * 
 *   IMPORTANT:
 *   If the Class or ID of the style you're customising is already used in the main "base.css" file, 
 *   we recommend you add "!important" to each attribute in this file to help force your customisations override 
 *   the ones mentioned in the "base.css" file.
 * 
 *   Example for customising the background:
 * 
 *   body {
 * 	       background: #333333 url(images/your-background.jpg) repeat-x center top !important;
 * 	 }
 *
 *   Example for customising link colour:
 *
 *   a,
 *   #pages .object_list td a,
 *   .object_list .discussions td a,
 *   .object_list .documents_table td a
 *   {
 *	 	color: HotPink !important;
 *   } 
 * 
 */

/* ADD YOUR CUSTOM STYLES BELOW */

body {
	font-family: 'Noto Sans' !important;
}

body .wrap {
    background: url(../../../../brand/background.jpg) no-repeat center fixed;
    background-size: cover;
}